body {
    color: #333;
    font-family: "Varela Round";
}

h1 {
    margin-bottom: 50px;
    font-family: "Pacifico";
    text-align: center;
    font-size: 5rem;
}

h2 {
    text-align: center;
    margin-bottom: 1.5em;
}

footer {
    font-size: small;
    text-align: center;
    margin-top: 100px;
}

.btn {
    background-color: #9376E0;
}

.btn:hover {
    color: #9376E0;
}

.container {
    background-color: #fefefe;
}
